<div class="login-container">
  <div class="login-box">
    <h2>Reset Password</h2>

    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </mat-form-field>

      <!-- Secret Key input (appears only after email and password fields are filled) -->
      <mat-form-field *ngIf="showSecretKey" appearance="fill" class="full-width">
        <mat-label>Enter Secret Key </mat-label>
        <input matInput type="text" [(ngModel)]="secretKey" name="secretKey" required>
      </mat-form-field>
<mat-form-field *ngIf="showresetCode" appearance="fill" class="full-width">
    <mat-label>Reset Code</mat-label>
    <input matInput type="text" [(ngModel)]="resetCode" name="resetCode" required maxlength="6" minlength="6"
        placeholder="Enter your 6-digit reset code" />
</mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="full-width">
        <mat-icon>lock</mat-icon>&nbsp;{{ showSecretKey ? 'Confirm Reset' : 'Next' }}
      </button>

      <button mat-button color="accent" class="full-width" (click)="goToLogin()">
        <mat-icon>login</mat-icon>&nbsp;Back to Login
      </button>
    </form>


    <div *ngIf="message" class="success-msg">{{ message }}</div>
    <div *ngIf="error" class="error-msg">{{ error }}</div>
  </div>
</div>


